<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Naveen education hub</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <!-----start NAVBAR section-->
    <header class="section-navbar">
        <div class="container">
            <div class="navbar-brand">
                <a href="project5.html">
                    <img src="https://logos.textgiraffe.com/logos/logo-name/Naveen-designstyle-cartoon-m.png" alt="my eduhub logo" width="68%" height="auto"/>

                </a>
            </div>
            <nav class="navbar">
                <ul>
                    <li class="nav-item"> 
                        <a class="nav-link" href="#"> home</a>
                     </li>
                    <li class="nav-item">
                         <a class="nav-link" href=""> about</a>
                     </li>
                    <li class="nav-item">
                         <a class="nav-link" href=""> services</a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link" href=""> blog</a>
                     </li>
                    <li class="nav-item"> 
                        <a class="nav-link" href=""> contect</a>
                    </li>
                </ul>

            </nav>
        </div>
    </header>
    <!--------------end navbar section--------------------->


    <!------------------start hero section----------------------------->

<main>
    <div class="section-hero">
        <div class="container grid grid-two--cols">
            <div class="section-hero--content">
                <p class="hero-subheading">EMPOWERING LIFELONG LEARNIG</p>
                <H1 class="hero-heading">
                    Unlock Your Potential with Naveen EduHub

                </H1>
                <p class="hero-para">
                    Welcome to Naveen EduHub, your gatway to knowledge and skill
                    development, we are dedicated to providing high-qulity,
                    accessible education for learners of all ages and background,


                </p>
                <div class="hero-btn"></div>
                <a href="services.html" class="btn btn-white">Learn with us</a>


                </div>
                <div class="section-hero--image">
                    <figure>
                        <img src="https://img.freepik.com/free-vector/online-shopping-isometric-icon-internet-purchase-laptop-with-shop-basket-screen-online-payment_39422-973.jpg?t=st=1732740229~exp=1732743829~hmac=c4c799cdf9b8648925d7194f1390c027748c9a4426b61e3b88257f6b1f1f7023&w=900"
                         alt="a 3d character doing codig stuff">
                         
                    </figure>
                </div>
            
        </div>
    </div>
    <div class="custom-shape-divider-bottom-1732744445">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
        </svg>
    </div>    
    
</main>

    <!-----------------------end hero section---------------------------->
    <!------------------start about section--------------------------->
    <section class="section-about">
        <div class="container">
            <h2 class="section-common-heading">About Naveen EduHub</h2>
            <div class="section-common-subheading">Guiding Your Learning Journey through Research,Design and
                development Excellence.
            </div>

        </div>
        <div class="container grid grid-three--cols">
            <div class="about-div">
                <div class="icon">
                    <img src="https://img.freepik.com/premium-psd/market-research-3d-icon-illustration_235528-1334.jpg" alt="Naveen eduhub resaerch team">
                </div>
                <h3 class="section-common--title">Research</h3>
                <p>
                    we start by learning what you need. we look at what's new and 
                    exciting in learning and choose topics that match what you want to 
                    learn.
                </p>
            </div>
            <div class="about-div">
                <div class="icon">
                    <img src="https://img.freepik.com/free-psd/3d-woman-posing-with-tablet_23-2149485769.jpg?t=st=1732839664~exp=1732843264~hmac=970aae1c8b640bce08c47d3ffeaaa0e420b10e89d16d7098bad24ec474f8923e&w=740" alt="Naveen eduhub resaerch team">
                </div>
                <h3 class="section-common--title">Design</h3>
                <p>
                    Next, we make the lessons. we make them fun and interesting for you.
                    We make sure they work for different ways people like to learn.

                </p>
            </div>
            <div class="about-div">
                <div class="icon">
                    <img src="https://img.freepik.com/premium-photo/online-education-concept-with-laptop-home-office-digital-learning-vector_1240525-112631.jpg?uid=R176125903&ga=GA1.1.2057497591.1732609958&semt=ais_hybrid" alt="Naveen eduhub resaerch team">
                </div>
                <h3 class="section-common--title">Development</h3>
                <p>
                    After that, we turn the lessons into things you can use online. we 
                    use the latest tools to make sure they work well and make you happy
                </p>
            </div>


        </div>

    </section>
    <!-----------------------end about section------------------------------>
    <!----------------------------start courses section-------------------------------->
    <section class="section-course">
        <div class="container">
            <h2 class="section-common-heading">Explore Our Courses </h2>
            <p class="section-common-subheading">Discver a variety of courses across different categories.
            </p>

        </div>


        <div class="container grid grid-four--cols">
            <div class="course-div">
                <div class="icon">
                    
                    <i class="fa-brands fa-html5"></i>

                </div>
                <h3 class="section-common--title"> HTML Dev</h3>
                <p>
                    Web content structure with
                    essential markup language.
                </p>
            </div>
            <div class="course-div">
                <div class="icon">
                    
                    <i class="fa-brands fa-css3-alt"></i>


                </div>
                <h3 class="section-common--title">CSS Dev</h3>
                <p>Styling Web elements for 
                    visually appealing websites </p>
            </div>
            <div class="course-div">
                <div class="icon">
                    
                    <i class="fa-brands fa-python"></i>

                </div>
                <h3 class="section-common--title"> Python</h3>
                <p> Powerfil efficient coding lauguage for softwere development.</p>
            </div>
            <div class="course-div">
                <div class="icon">
                    
                    <i class="fa-brands fa-java"></i>


                </div>
                <h3 class="section-common--title">Java Development </h3>
                <p>Cross-platform application development with Java programming.</p>
            </div>
            <div class="course-div">
                <div class="icon">
                    
                    <i class="fa-brands fa-js"></i>


                </div>
                <h3 class="section-common--title">Javascript  </h3>
                <p>Cross-platform application development with Java programming.</p>
            </div>


            <div class="course-div">
                <div class="icon">
                    
                    <i class="fa-brands fa-laptop-code"></i>


                </div>
                <h3 class="section-common--title">DSA  </h3>
                <p>Dsa is very important and inhance your coding launage .</p>
            </div>
        </div>


        


    </section>
    <!----------------------------end courses section-------------------------->
    <!--------------------------------------start ehy choose section-->
    <section class="section-why--choose">
        <div class="container">
            <h2 class="section-common-heading">Why choose Naveen EduHub </h2>
            <p class="section-common-subheading">Choose Naveen EduHub for a holistic, enriching learning experience that empowers you to achieve
                your goals.
            </p>

        </div>
        <div class="container grid grid-three--cols">
            <div class="choose-left--div text-align--right">
                <div class="why-choose--div"
                data-aos="zoom-in-up"
                data-aos-delay="100"
                >
                    <p class="common-text--highlight">1</p>
                    <h3 class="section-common--title">Expert Instructors</h3>
                    <p>
                        Learn from experienced teachers who are passionate about sharing
                        knowledge and guiding you toward success in your learning journey.
                    </p>

                </div>
                <div class="choose-left--div text-align--right">
                    <div class="why-choose--div"
                    data-aos="zoom-in-up"
                    data-aos-delay="100"
                    >
                        <p class="common-text--highlight">3</p>
                        <h3 class="section-common--title">Interactive Lessons</h3>
                        <p>
                            Engage in hands-on learnig experiences
                            that make education fun and memarable
                            interactive lessons encourage active
                            participation and deeper understanding.
                        </p>
    
                    </div>
    
                </div>
                <div class="choose-left--div text-align--right">
                    <div class="why-choose--div"
                    data-aos="zoom-in-up"
                    data-aos-delay="200"
                    >
                        <p class="common-text--highlight">5</p>
                        <h3 class="section-common--title">Lifelong learning Support</h3>
                        <p>
                            our commitment to your education doesn't 
                            end with a certificate recive angaing
                            support and resourse for continous
                            learning and growth
                        </p>
    
                    </div>
    
                </div>

            </div>

            <!--------------------- center part of image --------------------------->
            <div class="choose-center--div"
            data-aos="zoom-in-up"
            data-aos-delay="300"
            >
                <figure>
                    <img src="https://images.unsplash.com/photo-1509395176047-4a66953fd231?q=80&w=880&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Naveen technical offical new website ">
                </figure>
            </div>
            <!--------------right side the contain--------------------------------------------->
            <div class="choose-right--div text-align--left">
                <div class="why-choose--div"
                data-aos="zoom-in-up"
                data-aos-delay="400"
                >
                    <p class="common-text--highlight">2</p>
                    <h3 class="section-common--title">Expert Instructors</h3>
                    <p>
                        Learn from experienced teachers who are passionate about sharing
                        knowledge and guiding you toward success in your learning journey.
                    </p>
                </div>
                <div class="choose-right--div text-align--left">
                <div class="why-choose--div"
                    data-aos="zoom-in-up"
                    data-aos-delay="600"
                    >
                        <p class="common-text--highlight">4</p>
                        <h3 class="section-common--title">lifelong learning support</h3>
                        <p>
                            Learn from experienced teachers who are passionate about sharing
                            knowledge and guiding you toward success in your learning journey.
                        </p>
                    </div>
                    <div class="choose-right--div text-align--left">
                        <div class="why-choose--div"
                        data-aos="zoom-in-up"
                        data-aos-delay="700"
                        >
                            <p class="common-text--highlight">6</p>
                            <h3 class="section-common--title">Expert Instructors</h3>
                            <p>
                                Learn from experienced teachers who are passionate about sharing
                                knowledge and guiding you toward success in your learning journey.
                            </p>
                        </div>
            </div>
        </div>
    </section>



    <!--------------------------------end why choose section------------------------->

<div class="section-contact-homepage" id="section-contact-homepage">
    <div class="container grid grid-two--cols">
        <div class="contact-content">
            <h2 class="contact-title">Lat's revolutionize the way study</h2>
            <p>Join our free bootcamps to know us better</p>
            <div class="btn">
                <a href="contact.html">
                    start now <i class="fa-solid fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="contact-image">
            <img src="https://img.freepik.com/free-vector/portrait-programmer-working-with-pc_23-2148222500.jpg?uid=R176125903&ga=GA1.1.2057497591.1732609958&semt=ais_hybrid" alt="a guy doing coding">
        </div>
    </div>
</div>

    


    <!---------------end section----------------------->
    <!---------------start footer section--------------------->

<footer>
    <div class="container grid grid-four--cols">
        <div class="footer-1--div">
            <div class="logo-brand">
                <a href="index.html" class="footer-subheading">Naveen EduHub</a>

            </div>
            <p>Let's revolutionize the wya you study with Naveen EduHub</p>



            <div class="social-footer--icon">
                <a href="https://www.youtube.com/naveen08vlog" target"_blanck">
                    <i class="fa-brands fa-youtube"></i>

                </a>
                <a href="https://www.telegram.com/naveen" target"_blanck">
                    <i class="fa-brands fa-telegram"></i>

                </a>
                <a href="https://www.instagram.com/krish.kashyap5" target"_blanck">
                    <i class="fa-brands fa-instagram"></i>

                </a>

            </div>

        </div>
        <div class="footer-2--div">
            <p class="footer-subheading">  COURSES    </p>
                <ul>
                    <li><a href="index.html">home</a></li>
                    <li><a href="index.html">home</a></li>
                    <li><a href="index.html">home</a></li>
                    <li><a href="index.html">home</a></li>
                </ul>

            

        </div>
        <div class="footer-3--div">
            <p class="footer-subheading">  CSS  </p>
                <ul>
                    <li><a href="index.html">home</a></li>
                    <li><a href="index.html">home</a></li>
                    <li><a href="index.html">home</a></li>
                    <li><a href="index.html">home</a></li>
                </ul>

            

        </div>
        <div class="footer-4--div">
            <p class="footer-subheading"> HTML </p>
                <ul>
                    <li><a href="index.html">home</a></li>
                    <li><a href="index.html">home</a></li>
                    <li><a href="index.html">home</a></li>
                    <li><a href="index.html">home</a></li>
                </ul>

            

        </div>


    </div>
</footer>
    
    <!------------end footer section----------------->
</body>
</html>